.side {
  height: 100vh;
  width: 150px;
  color: var(--soft-white);
  background-color: var(--black);
  font-size: 1.3rem;
  font-weight: 400;
  font-family: var(--body);
  display: flex;
  flex-direction: column;
  justify-content: flex-start; 
  align-items: center;
  padding-top: 20px;
}

.list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start; 
  align-items: stretch; 
  list-style: none;
  width: 100%;
  padding: 0;
  margin: 0;
}

.list li {
  width: 100%;
  text-align: left;
}

.list a {
  display: block; 
  padding: 10px 16px; 
  cursor: pointer;
  text-decoration: none;
  color: var(--soft-white);
  border-bottom: 2px solid var(--soft-white); 
  transition: border-color 0.3s;
}

.list a:hover {
  border-bottom-color: var(--tormenta);
  font-weight: 400;
}