.weapons {
    width: 100%;
    min-height: 90vh;

    text-align: center;
    justify-content: center;
    color: var(--soft-white);
    background-color: var(--soft-black);
    font-family: var(--poppins);
    font-size: 1rem;

    display: flex;
    flex-direction: column;
}