.home {
  padding: 20px;
  text-align: center;
}

/* Estilo padrão */
.title {
  font-size: 2rem;
  color: #333;
}

.text {
  font-size: 1.2rem;
}

/* Tablet (até 768px) */
@media (max-width: 768px) {
  .title {
    font-size: 1.5rem;
    color: darkblue;
  }

  .text {
    font-size: 1rem;
  }
}

/* Celular (até 480px) */
@media (max-width: 480px) {
  .title {
    font-size: 1.2rem;
    color: darkred;
  }

  .text {
    font-size: 0.9rem;
  }
}
