@font-face {
  font-family: 'Tormenta';
  src: url('../assets/fonts/Tormenta20x.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  font-family: 'Poppins', sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;


  @media (min-width: 768px) {
    font-size: 18px;
  }

  --tormenta:'Tormenta'
  --poppins:'Poppins';
  --black: #191919;
  --soft-black:#252525;
  --white: #fff;
  --soft-white: #f1f1f1;
  --gray: #cbc8c8;
  --pink: #FFE8E8;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}