:root {
  font-family: Bree Serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  @media (min-width: 768px) {
    font-size: 18px;
  }

  --bree:'Bree Serif';
  --openSans: 'Open Sans';
  --red: #FF6F61;
  --black: #2E4053;
  --white: #fff;
  --soft-white: #f1f1f1;
  --gray: #cbc8c8;
  --pink: #FFE8E8;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}