@font-face {
  font-family: 'Tormenta';
  src: url('../assets/fonts/Tormenta20x.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  font-family: 'Poppins', 'Tormenta', 'Cinzel', 'Bitter', sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;


  @media (min-width: 768px) {
    font-size: 18px;
  }

  --tormenta:'Tormenta';
  --titles:'Cinzel';
  --subtitles:'Bitter';
  --body:'Poppins';
  --black: rgb(107, 107, 107);
  --soft-black:rgba(107, 107, 107, 0.500);
  --white: #fff;
  --soft-white: #ffffff;
  --gray: #cbc8c8;
  --tormenta: #f5f0f0;
  --tormenta-light: #d55758;
  --tormenta-dark: #bf0101;
  --glow: rgba(224, 49, 49, 0.2);
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}