.header {
    height: 80px;
    width: 100%;
    color: var(--soft-white);
    background-color: var(--black);
    font-family: var(--poppins);
    font-size: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-weight: bold
}

.header span {
    font-size: 12px;
    font-weight: bold;

}

.logo {
    width: 250px;
    height: auto;
    transition: width 0.3s ease;
    /* suaviza a transição */
}


.header a {
    text-decoration: none;
    color: var(--soft-white);
    font-size: 20px;
}

.header a:hover {
    opacity: 75%;

}